:root {
  --white: #fff;
  --black: #2f2f2f;
  --blue: #407bff;
  --primary-: #fff;
  --primary-red: #ef5050;
  --primary-blue: #93bbff;
  --primary-orange: #ff9d43;
  --primary-lightblue: #ecf2ff;
  --primary-mediumblue: #d7e3ff;
}
